body{
    background-color: #7fffd4;
    font-family: "Lucida Console", "Courier New", monospace;
}

#title{
    text-align: center;
    font-size: 49px;
    color: rgb(30, 0, 200);
}

.links{
    font-family: "Courier New";
    text-align: center;
    font-size: 24px;
}

/* Using the standard CSS box model*/
.decoration, .underline{
    width: 300px;
    height: auto;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animated{
    width: 300px;
    border: 20px groove darkblue;
}

/* Using the alternative CSS box model */
.plate_ready{
    box-sizing: border-box;
    width: 400px;
    height: auto;
}

.steps, .description{
    box-sizing: border-box;
    width: 800px;
}